{% extends "page.html" %}

{% block content %}
<h1>GSQ's Vocabulary System</h1>

<p>Welcome to the <a href="https://www.business.qld.gov.au/industries/mining-energy-water/resources/geoscience-information/gsq">Geological Survey of Queensland (GSQ)</a>'s instance of VocPrez, a read-only web delivery system for Simple Knowledge Organization System (SKOS)-formulated RDF vocabularies.</p>

<p>VocPrez presents different views, or <em>profiles</em>, of vocabularies which, in this system's case, it gets from GSQ's graph database of vocabularies and other <a href="https://www.w3.org/standards/semanticweb/">Semantic Web</a> content.</p>

<p>See the <a href="{{ url_for('about') }}">About page</a> for more information about this system.</p>

<h2>Vocabularies</h2>
<p>See this system's <a href="{{ url_for('vocabularies') }}">list of Vocabularies</a>.</p>
<p>Note that GSQ's vocabularies are also available as text files from their point-of-truth code repository:</p>
<ul>
  <li><a href="https://github.com/geological-survey-of-queensland/vocabularies/">GSQ's vocabulary source files on GitHub</a></li>
</ul>
<p>The vocabularies listed there are automatically loaded into this system</p>
<h3>Vocabulary profile</h3>
<p>All of GSQ's vocabularies are managed by testing their conformance to a profile of SKOS, the so-called <a href="https://w3id.orf/profile/vocpub">VocPub Profile</a>.</p>
<p>This profile sets requirements for basic annotations of elements of SKOS, for example, ensuring that all <code>Concept</code> instances have labels and are placed within the <code>ConceptScheme</code>'s concept hierarchy.</p>
<p>This profile has all of its requirements documented in a <em><a href="https://w3id.orf/profile/vocpub/spec">Specification Document</a></em> and also provides a <em><a href="https://w3id.orf/profile/vocpub/validator">constraints language validator</a></em> to assist vocabulary publishers in getting their vocabularies conformant with it.</p>

{% include 'alt_link.html' %}

<h2>All-vocabulary dataset</h2>
<p>To access metadata for GSQ's total set of vocabularies as a single dataset, follow the <em>Alternate Profiles</em> link to the right. The dataset view of these vocabularies allows GSQ's total holdings to be referred to and represented in other catalogues.</p>
<p>This system provides <em>Alternate Profiles</em> links on all pages - list of vocabularies, individual vocabularies, Concepts within a vocabulary - as each of these items have different information and formats available.</p>
{% endblock %}